/* ============================================================================
    #VAR
============================================================================ */

:root {
  --font-color-black: #333333;
  --font-color-white: #CACACA;
  --main-theme-color: #FF9900;
  --active-color: #E1670E;
  --focus-color: #F7B045;
}





/* ============================================================================
    #
============================================================================ */
.nav__link {
  transition: color 0.2s ease;
}

.nav__link::after {
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.nav__link:hover::after {
  transform: scale(1);
}

.nav__link:focus {
  outline: 2px solid var(--main-theme-color);
}

.nav__link:active::after {
  background-color: var(--active-color);
}

.nav__link:active {
  color: var(--active-color);
}





.search svg {
  transition: outline 0.2s ease;
}

.search svg path {
  transition: stroke 0.2s ease;
}

.search svg rect {
  transition: fill 0.2s ease;
}

.search:hover svg path,
.search:active svg path {
  stroke: var(--main-theme-color);
}

.search:hover svg rect,
.search:active svg rect {
  fill: var(--main-theme-color);
}

.search:focus svg {
  outline: 2px solid var(--main-theme-color);
}

.search:focus {
  outline: none;
}





.hero__button {
  transition: background-color 0.2s ease;
}

.hero__button:hover,
.hero__button:focus {
  background-color: rgba(255, 153, 0, 0.7);
}

.hero__button:active {
  background-color: var(--active-color);
}





.box__aside-button {
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.box__aside-button:hover,
.box__aside-button:focus {
  background-color: var(--main-theme-color);
}

.box__aside-button:active {
  background-color: var(--active-color);
  border-color: var(--active-color);
}





.tabs__button {
  transition: color 0.2s ease, outline 0.2s ease;
}

.tabs__button:hover {
  color: var(--main-theme-color);
}

.tabs__button:focus {
  outline: 2px solid var(--main-theme-color);
}

.tabs__button:active {
  color: var(--active-color);
}





.how__button_1,
.form__button {
  transition: background-color 0.2s ease;
}

.how__button_2 {
  transition: color 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;
}



.how__button_1:hover,
.how__button_1:focus,
.form__button:hover,
.form__button:focus {
  background-color: var(--focus-color);
}

.how__button_1:active,
.form__button:active {
  background-color: var(--active-color);
}

.how__button_2:hover,
.how__button_2:focus {
  color: white;
  background-color: #666666;
  border-color: #666666;
}

.how__button_2:active {
  color: white;
  background-color: black;
  border-color: black;
}





.footer__link {
  transition: color 0.2s ease, outline 0.2s ease;
}

.footer__link:hover {
  color: var(--main-theme-color);
}

.footer__link:focus {
  outline: 2px solid var(--main-theme-color);
}

.footer__link:active {
  color: var(--active-color);
}





.form__input {
  transition: background-color 0.2s ease;
}

.form__input:hover,
.form__input:focus {
  background-color: #666666;
  outline: none;
}





.socials__link svg path {
  transition: fill 0.2s ease;
}

.socials__link:hover svg path {
  fill: var(--main-theme-color)
}

.socials__link:focus {
  outline: 2px solid var(--main-theme-color);
}

.socials__link:active svg path {
  fill: var(--active-color)
}





.faq__name {
  transition: color 0.2s ease;
}

.faq__item svg path {
  transition: stroke 0.2s ease, transform 0.2s ease;
}

.faq__item svg ellipse {
  transition: fill 0.2s ease;
}


.faq__item:hover .faq__name,
.faq__item:focus .faq__name {
  color: var(--main-theme-color);
}

.faq__item:hover svg ellipse {
  fill: var(--main-theme-color);
}

.faq__item:hover svg path {
  stroke: white;
}

.faq__item:focus svg ellipse {
  fill: var(--main-theme-color);
}

.faq__item:focus svg path {
  stroke: white;
}


