/* ============================================================================
    #VAR
============================================================================ */

:root {
  --font-color-black: #333333;
  --font-color-white: #CACACA;
  --main-theme-color: #FF9900;
  --active-color: #E1670E;
  --gap: 32px;
  --hero-height: 620px;

  --swiper-pagination-color: white;
  --swiper-pagination-bullet-width: 15px;
  --swiper-pagination-bullet-height: 15px;
  --swiper-pagination-bullet-horizontal-gap: 10px;
}





/* ============================================================================
    #FONTS
============================================================================ */

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v21-latin_cyrillic-regular.woff2') format('woff2'),
       url('../fonts/montserrat-v21-latin_cyrillic-regular.woff') format('woff');
}

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/montserrat-v21-latin_cyrillic-700.woff2') format('woff2'),
       url('../fonts/montserrat-v21-latin_cyrillic-700.woff') format('woff');
}

/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/montserrat-v21-latin_cyrillic-600.woff2') format('woff2'),
       url('../fonts/montserrat-v21-latin_cyrillic-600.woff') format('woff');
}

/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('../fonts/montserrat-v21-latin_cyrillic-800.woff2') format('woff2'),
       url('../fonts/montserrat-v21-latin_cyrillic-800.woff') format('woff');
}





/* ============================================================================
    #GENERAL
============================================================================ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-color: transparent;
  outline-color: transparent;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: var(--font-color-black);
}

ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: var(--font-color-black);
}

section {
  padding-bottom: 100px;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 75px;
  padding-right: 75px;
}

.button {
  text-align: center;
  color: white;
}





/* ============================================================================
    #HEADER
============================================================================ */

.header {
  position: relative;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.header__container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger {
  background-color: transparent;
  display: none;
}

.header__logo {
  margin-right: auto;
}

.nav {
  display: flex;
}

.nav__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__item:not(:last-child) {
  margin-right: 85px;
}

.nav__item {
  font-weight: 600;
  font-size: 18px;
}

.nav__link {
  padding-bottom: 5px;
  outline-offset: 5px;
}

.search {
  margin-left: 85px;
  padding: 22px 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search svg {
  outline-offset: 5px;
}





/* ============================================================================

    #MAIN


    #HERO
============================================================================ */

.hero__container {
  position: relative;
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: var(--hero-height);
}
.swiper-pagination-bullet {

}

.hero__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  height: var(--hero-height);
  padding: 15px 157px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: 700;
  font-size: 24px;
  color: white;
  pointer-events: none;
  z-index: 2;
}

.hero__text-wrap {
  flex-basis: 57%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero__title {
  font-weight: 800;
  font-size: 70px;
}

.hero__text {
  margin-top: 24px
}

.hero__button-wrap {
  flex-basis: 43%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__button {
  padding: 25px 35px;
  letter-spacing: -0.2px;
  background-color: #FF9900;
  pointer-events: auto;
}





/* ============================================================================
    #ABOUT
============================================================================ */

.about__title {
  margin-bottom: 20px;
  line-height: 1;
}

.title {
  font-weight: 400;
  font-size: 48px;
}

.about__text {
  width: 70%;
  line-height: 2em;
  margin-bottom: 50px;
}

.box__wrapper {
  display: flex;
  gap: var(--gap);
}

.box_big {
  position: relative;
}

.box__img_big img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.box {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.box__aside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  padding: 50px;
  font-weight: 700;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

.box__aside-text {
  flex: 0 1 58%;
  line-height: 2em;
}

.box__aside-button {
  padding: 18px 36px;
  border: 3px solid var(--main-theme-color);
}

.box_small {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 65px 60px;
  border: 1px solid #CACACA;
}

.box__content {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  }

.box__title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
}

.box__text {
  width: 90%;
  line-height: 2em;
}





/* ============================================================================
    #HOW
============================================================================ */

.how__title {
  margin-bottom: 50px;
}

.how__nav {
  display: flex;
  margin-bottom: 50px;
  font-size: 18px;
}

.how__item:not(:last-child) {
  margin-right: 86px;
}

.how__link {
  outline-offset: 5px;
}

.how__link_isactive {
  color: var(--main-theme-color);
}

.how__sec {
  display: flex;
  gap: var(--gap);
}

.how__sec_2,
.how__sec_3,
.how__sec_4 {
  display: none;
}

.how__box {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
}

.how__subtitle {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 8px;
}

.how__text {
  width: 88%;
  margin-bottom: 50px;
  line-height: 2em;
}

.how__button-wrap {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.how__button {
  padding: 19px 38px;
}

.how__button_1 {
  margin-right: 32px;
  padding: 20px 38px;
  font-weight: 700;
  background-color: var(--main-theme-color);
}

.how__button_2 {
  color: var(--font-color-black);
  border: 1px solid var(--font-color-black);
}

.how__box_img {
  position: relative;
}

.how__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}





/* ============================================================================
    #FAQ
============================================================================ */

.faq__title {
  line-height: 62px;
  margin-bottom: 40px;
}

.faq__item {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  border-top: 1px solid #CACACA;
}

.faq__item:last-child {
  border-bottom: 1px solid #CACACA;
}

.faq__link {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.faq__link svg {
  margin-left: auto;
}

.faq__link svg path {
  transform-origin: center;
}

.faq__desc {
  display: none;
}





/* ============================================================================

    #FOOTER

============================================================================ */

.footer {
  background-color: #222222;
}

.footer__container {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--font-color-white);
}

.footer__content {
  flex: 0 0 33.333%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__logo {
  margin-top: -1px;
  margin-bottom: 14px;
}

.footer__nav {
  margin-bottom: 90px;
  cursor: pointer;
}

.footer__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 2em;
}

.footer__link {
  color: var(--font-color-white);
  outline-offset: 5px;
}

.socials {
  display: flex;
  cursor: pointer;
}

.socials__item:not(:last-child) {
  margin-right: 25px;
}

.socials__link {
  display: block;
  outline-offset: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0 8px 0 12px;
  cursor: text;
}

.form__title {
  margin-bottom: 25px;
}

.form__input {
  padding: 20px 26px;
  color: white;
  background-color: #414141;
  border: none;
}

.form__input::placeholder {
  color: var(--font-color-white);
}

.form__input:not(.form__input[name="text"]) {
  height: 60px;
  margin-bottom: 25px;
}

.form__input[name="text"] {
  height: 150px;
  margin-bottom: 32px;
  resize: none;
}

.form__button_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__button {
  margin-right: 10px;
  padding: 19px 52px;
  font-weight: 700;
  background-color: var(--main-theme-color);
  border: none;
  cursor: pointer;
}

.form_label_checkbox {
  padding: 19px 0;
  cursor: pointer;
}

.footer__text {
  width: 61%;
  margin: auto 0 auto auto;
  line-height: 2em;
}





/* ============================================================================

    #MEDIA

============================================================================ */
@media (max-width: 1650px) {
  .about__text {
    width: 90%;
  }
  .box__wrapper {
    flex-direction: column;
  }
  .box__aside {
    margin-top: 438px;
  }
  .box_small {
    padding: 65px 77px;
  }
  .how__text {
    margin-bottom: 25px;
    width: 100%;
  }
  .footer__content:nth-child(1) {
    flex-basis: 30%;
  }
  .footer__content:nth-child(2) {
    flex-basis: 40%;
  }
  .footer__content:nth-child(3) {
    flex-basis: 30%;
  }
  .footer__text {
    width: 85%;
  }
  .form__button {
    padding: 19px 37px;
  }
}

@media (max-width: 1200px) {
  section {
    padding-bottom: 80px;
  }
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .header__logo img {
    width: 150px;
    height: 48px;
  }
  .header__logo {
    margin-right: 85px;
  }
  .search {
    margin-left: 50px;
  }
  .nav {
    flex-grow: 1;
  }
  .nav__item {
    margin: 0 !important;
  }
  .hero__content {
    width: 100%;
    padding-left: 127px;
    padding-right: 127px;
  }
  .hero__title {
    font-size: 60px;
  }
  .hero__text {
    margin-top: 16px;
    font-size: 20px;
  }
  .about__text {
    width: 100%;
  }
  .faq__title {
    margin-bottom: 32px;
  }
  .faq__name {
    width: 80%;
    font-size: 20px;
  }
  .footer__content:nth-child(1) {
    flex-basis: 40%;
  }
  .footer__content:nth-child(2) {
    flex-basis: 60%;
  }
  .footer__content:nth-child(3) {
    display: none;
  }
}


@media (max-width: 1024px) {
  :root {
    --hero-height: 668px
  }
  .header {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  }
  .header__logo img {
    width: 150px;
  }
  .header__logo,
  .search {
    margin: 0;
  }
  .nav {
    display: none;
  }
  .burger {
    display: block;
  }
  .hero__text-wrap {
    flex-basis: 56%;
  }
  .hero__button-wrap {
    justify-content: flex-start;
  }
  .hero__button {
    margin-top: 52px;
  }
}

@media (max-width: 768px) {
  :root {
    --hero-height: 662px
  }
  .header__container {
    height: 69px;
  }
  .swiper {
    height: var(--hero-height);
  }
  .hero__content {
    height: var(--hero-height);
    padding-left: 90px;
    padding-right: 90px;
  }
  .hero__text-wrap {
    flex-basis: 55%;
  }
  .hero__title {
    font-size: 50px;
  }
  .hero__text {
    font-size: 18px;
  }
  .hero__button {
    margin-top: 48px;
  }
  .box__aside {
    margin-top: 465px;
    padding: 34px 40px;
  }
  .box__aside-text {
    flex-basis: 62%;
  }
  .box_small {
    padding: 34px 45px 34px 40px;
    gap: 16px;
  }
  .box__content {
    flex-basis: 80%;
  }
  .box__img_small {
    width: 114px;
    height: 99px;
  }
  .box__text {
    width: 100%;
  }
  .how__item:not(:last-child) {
    margin: 0;
  }
  .how__nav {
    justify-content: space-between;
  }
  .how__sec {
    flex-direction: column;
    gap: 38px;
  }
  .how__box {
    flex-basis: auto;
  }
  .how__box_img {
    order: 1;
    height: 284px;
  }
  .how__box:nth-child(1) {
    order: 2;
  }
  .faq__name {
    width: 86%;
  }
  .footer__nav {
    display: none;
  }
  .footer__container {
    flex-direction: column;
    padding-right: 177px;
  }
  .footer__content:nth-child(2) {
    order: 1;
    margin-bottom: 50px;
  }
  .footer__content:nth-child(1) {
    order: 2;
  }
  .form {
    padding: 0;
  }
}

@media (max-width: 650px) {
  .box__aside {
    margin-top: 74%;
    flex-direction: column;
  }
  .box_small {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
  .footer__container {
    padding-right: 50px;
  }
}

@media (max-width: 480px) {
  :root {
    --hero-height: 308px;
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
  }
  body {
    font-size: 14px;
  }
  section {
    padding-bottom: 60px;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .header__logo img {
    width: 110px;
    height: 35px;
  }
  .title {
    font-size: 24px;
    line-height: 30px;
  }
  .button {
    font-size: 12px;
    line-height: 14px;
    padding: 13px 30px;
  }
  .swiper {
    height: var(--hero-height);
  }
  .hero__content {
    height: var(--hero-height);
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
    align-items: center;
  }
  .hero__text-wrap {
    flex-basis: 58%;
  }
  .hero__title {
    font-size: 20px;
  }
  .hero__text {
    margin-top: 6px;
    font-size: 12px;
  }
  .hero__button {
    margin-top: 33px;
  }
  .about__text {
    margin-bottom: 8px;
  }
  .box {
    gap: 0;
  }
  .box__img_big img {
    position: static;
  }
  .box__aside {
    margin-top: 8px;
    padding: 0;
    align-items: flex-start;
    color: #333333;
    background: none;
  }
  .box__aside-text {
    font-weight: 400;
    margin-bottom: 2px;
  }
  .box__aside-button {
    padding: 11px 43px;
    margin-top: 8px;
    border-width: 2px;
    color: var(--main-theme-color);
  }
  .box_small:nth-child(1) {
    margin-bottom: 32px;
  }
  .box_small {
    gap: 12px;
    border: none;
  }
  .box__img_small {
    width: 64px;
    height: 49px;
  }
  .box__title {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 18px;
  }
  .how__title {
    margin-bottom: 20px;
  }
  .how__nav {
    margin-bottom: 16px;
    font-size: 14px;
  }
  .how__sec {
    gap: 20px;
  }
  .how__box_img {
    height: 160px;
  }
  .how__subtitle {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 18px;
  }
  .how__text {
    margin-bottom: 16px;
  }
  .how__button-wrap {
    justify-content: space-between;
  }
  .how__button_1 {
    flex: 1 1 162px;
    margin-right: 12px;
    padding-left: 0;
    padding-right: 0;
  }
  .how__button_2 {
    flex: 1 1;
  }
  .faq__title {
    margin-bottom: 13px;
  }
  .faq__link svg {
    width: 30px;
    height: 30px;
  }
  .faq__name {
    width: 80%;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
  .footer__container {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .form__title {
    margin-bottom: 20px;
  }
  .form__input {
    padding: 20px;
  }
  .form__input[name="text"] {
    margin-bottom: 25px;
  }
  .form__button_wrap {
    flex-direction: column;
    padding: 0 10px;
    border-bottom: 1px solid #595959;
  }
  .form__button {
    margin-right: 0;
  }
  .footer__logo img {
    width: 131px;
    height: 42px;
  }
  .footer__content:nth-child(1) {
    align-items: center;
  }
  .footer__content:nth-child(2) {
    margin-bottom: 16px;
  }
  .socials__item:not(:last-child) {
    margin-right: 16px;
  }
  .socials__link svg {
    width: 40px;
    height: 40px;
  }
}

